# Scripts
alias sp="start-project"

## Utility commands ##
alias ee="exit"
alias up="uptime"
alias cc="clear"
alias pd="popd"
alias his="history"
alias ll="ls -1a"
alias l="ll"
alias k="l"
alias lll="ls -la"
alias lh="ls -ld .?*" #list hidden files
alias list-hidden-files="lh"
alias lta="ls -lta" #sort by modification time
alias list-sorted-by-modification-time="lta"
alias order="lta"
alias llh="ls -lah"
alias grp="ll | grep "
alias egp="egrep"
alias ref="source ~/.bash_profile"
alias refz="source ~/.zshrc"
alias rrr="refz"
alias llave="cat ~/.ssh/id_rsa.pub"
alias vip="vi ~/.bash_profile"
alias viz="vi ~/.zshrc"
alias zshrc="viz"
alias hd="ls -la | head"
alias tl="ls -la | head"
alias C="pwd | pbcopy"
alias V="pbpaste"
alias python-server="python -m SimpleHTTPServer"
alias lad="ls -lad */" #list all dir's
alias list-directories="lad"
alias dir="ls -dlt */"      #list dir's
alias mem="du -hs ."        #size of current directory
alias hide="chflags hidden" #give folder directory"
alias show="chflags nohidden"
alias untar="tar xvf"
alias comp="tar -zcvf" #(compress) e.g. comp filename.tar.gz file/s
alias lsp="sudo lsof -i -n -P | grep LISTEN"
alias count="ls -F |grep -v / | wc -l"
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
alias delDSFiles="find . -name '.DS_Store' -type f -delete"

## Navigation
alias pp="pwd"
alias bb="cd .."
alias b="bb"
alias ..="bb"
alias ..l="bb && ll"
alias trash-dir="cd ~/.Trash"
alias del="trash"        # node module trash-cli
alias hdd="cd ~/Volumes" #navigate to external hard drives
alias doc="cd ~/Documents"
alias down="cd ~/Downloads"
alias pro="cd ~/Documents/Projects"
alias prol="pro && ll"
alias desk="cd ~/Desktop"
alias yt="down && cd CodeVideos/Youtube"
alias ytl="yt && youtube-dl"

## Dotfiles
alias dot="cd ~/Documents/Projects/dotfiles"
alias dotvi="vi ~/Documents/Projects/dotfiles/.aliases"
alias dota="less ~/Documents/Projects/dotfiles/.aliases"
alias dotp="less ~/Documents/Projects/dotfiles/.projects"
alias dotpi="vi ~/Documents/Projects/dotfiles/.projects"
alias dotf="less ~/Documents/Projects/dotfiles/.functions"
alias dotfi="vi ~/Documents/Projects/dotfiles/.functions"
alias dotv="dot && vs ."
alias init="source ~/.zshrc"
alias dit="source ~/.zshrc"

## Open
alias oo="open ."
alias firefox="open -a firefox"
alias chrome="open -a \"google chrome"\"
alias abl="chrome http://about:blank"
alias brave="open -a \"brave browser"\"
alias safari="open -a safari"
alias default_browser="chrome"
alias ote="open -e" #open with text edit
alias vs="code"
alias c="code ."
alias vi="vim"
alias vimrc="vi ~/.vimrc"
alias ci="code-insiders ."
alias cir="code-insiders -r ."
alias cr="code -r ."

## Alfred
alias alfred-preferences="cd '/Users/$USER/Library/Application Support/Alfred 3/Alfred.alfredpreferences/'"
alias alfred-links-location="alfred-preferences && cd preferences/features/websearch"
alias alfred-thumbnails-location="alfred-preferences && cd resources"
alias alfred-copy-links="alfred-links-location && cat prefs.plist | pbcopy"

## Browser
alias react="$default_browser https://reactjs.org/docs/getting-started.html"
alias sand="$default_browser https://codesandbox.io/s/new"

## Github
alias ghb="$default_browser https://github.com/eowino"
alias github="ghb"
alias ghbr="$default_browser https://github.com/eowino?tab=repositories"

## Git
alias git="hub"
alias remote="git remote -v"
alias git-version="git describe --abbrev=0"
alias git-tag-latest-version="git-version"
alias gra="git remote add origin" # args: https://github.com/<username>/<project_title>.git
alias gpom="git push origin master"
alias gpog="git push origin gh-pages"
alias gfp="git fetch && git pull"
alias gda="git add *"
alias gcm="git commit"
alias gcmm="git commit -m "
alias gcmmd="git commit --no-edit" # default merge conflict message
alias git-commit-no-edit="gcmmd"
alias gmu="git commit --amend" # amend previous commit message
alias gits="git status"
alias ghpages="git checkout -b gh-pages"
alias gitb="git branch"
alias cpgitb="git branch | grep \* | cut -d ' ' -f2 | tr -d '[:space:]' | pbcopy" # copy current branch name
alias gitbcopy="cpgitb"
alias copygitb="cpgitb"
alias copybr="cpgitb"
alias cpb="cpgitb"
alias gcur="git rev-parse --abbrev-ref HEAD" # show current branch
alias gitbr="gitb -a"                        # list remote branches
alias gco="git checkout"
alias gcob="git checkout -b"
alias glast="git checkout -" # go to last branch you were on
alias gco-last-branch="glast"
alias gco-sin-dev="gco-without-dev"
alias gbb="glast"
alias last-branch="git checkout -"
alias whichbranch="git branch --contains" # find branches a commit is on
alias master="git checkout master"
alias master-p="master && gfp"
alias develop="git checkout develop"
alias develop-p="develop && gfp"
alias relb="git checkout release-branch"
alias ghpush="ghpages && gpog"
alias ghp="git checkout gh-pages"
alias pullm="git pull origin master"
alias pullg="git pull origin gh-pages"
alias push="git push"
alias push-with-tags="git push --follow-tags"
alias pull="git pull"
alias gp="git pull"
alias gdel="git branch -D"
alias delete_this_remote_branch="git push origin --delete"
alias upm="master && gfp && glast"
alias gres="git reset --hard"
alias undo-last-commit="git reset HEAD~"
alias gmm="gco master && gfp && glast && git merge master"
alias gmd="gco develop && gfp && glast && git merge develop"
alias did="git log --author=owino --no-merges"
alias log="git log"
alias glis="git show --pretty='' --name-only" #list files edited in commit given by hash
alias changed-files="glis"
alias git-stash-list="git stash list"
alias gsl="git stash list"
alias git-stash-apply="git stash apply"
alias git-stash-pop="git stash pop"
alias lg="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches"
alias gbe="git browse"
alias git-stash-clear-all="git stash clear"
alias git-stash-delete-id="git stash drop" # git-stash-delete-id 1

## Node
alias npmg="npm ls -g --depth 0" #List all npm modules installed globally
alias npmgl="npmg"
alias unpm="sudo npm i -g npm"
alias nodebin="ls -la node_modules/.bin" #List local node executables
alias nit="npm init"
alias nity="npm init -y"
alias nu="npm-uninstall"
alias glo="npm install -g"
alias unglo="npm uninstall -g"
alias hs="chrome http://127.0.0.1:8080 && http-server"
alias lpkg="less package.json"
alias npm-update="npx npm-check -u"
alias clear-node-modules="trash node_modules"
alias flush-npm="trash node_modules && npm i && say NPM is done"
alias link-start="npm link && npm start"
alias npm-list-linked-projects="npm ls -g --depth=0 --link=true"
alias serve="http-server -g -c-1 --cors"
alias flush-npm-and-package-lock="trash node_modules && rm package-lock.json && ni && say NPM is done"

## Node scripts
alias ns="npm start"
alias nt="npm test"
alias nw="npm run watch"
alias nd="npm run dev"
alias nc="npm run clean"
alias nb="npm run build"
alias nde="node --inspect-brk"
alias nbrk="nde"
alias rr="corre"
alias pkg="pkg-version"

## NVM
alias nvmd="nvm use default"

## Yarn
alias ya="yarn add"
alias yr="yarn remove"
alias yi="yarn install"

## Ruby Sass
alias sass-watch="sass --watch main.scss:main.css"
alias swa="sass --watch ." #sass watch all
alias compress="sass --style compressed main.scss:main.css"

## Heroku
alias hul="heroku local"
alias poku="git push heroku master"
alias hlogs="heroku logs"

## AWS CLI
alias awscli-list-profiles="aws configure list-profiles"
alias awscli-version="aws --version"
