search() { grep -Ri $1 ./ }
mg() { mkdir "$@" && cd "$@" || exit; }
mgn() { mkdir "$@" && cd "$@" && npm init -y || exit; }
cdl() { cd "$@" && ll; }
npm-latest() { npm info "$1" | grep latest; }
npm-next() { npm info "$1" | grep next; }
mdn() { default-browser "https://mdn.io/$@" }
can() { default-browser "https://caniuse.com/#search=$@" }
remote-update() { git remote set-url origin "git@github.com:eowino/$@.git" } # e.g. remote-update repo-name
git-create() { git create -o -d "$@" && git push -u origin master }
git-create-private() { git create -p -o -d "$@" && git push -u origin master }