[core]
	excludesfile = /Users/evansowino/.gitignore_global
[user]
	email = 9787512+eowino@users.noreply.github.com
	name = Evans Owino
	signingkey = 0ED675488B0D216A
[interactive]
    diffFilter = delta --color-only
[color]
	ui = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
